<main>
    <div>
        <h1>Bienvenido a {{title}}</h1>
        <div id="divInfo">
            <h3>Nombre: {{nombreCompleto}}</h3>
            <p>Edad: {{edad}}</p>
            <p>Correo: {{correo}}</p>
            <p>Horario</p>
        </div>
        <div id="horario"></div>
        <hr>
        <br>
        <div>
            <nav>
                <p>Para ir al CHAT precione <a href="/chat">aquí</a>.</p>
                <p>Para ir al Real Time Products precione <a href="/realTimeProducts">aquí</a>.</p>
                <p>Para ir a productos paginados precione <a href="/products">aquí</a>.</p>
                <p>Para ir a los carritos precione <a href="/carts">aquí</a>.</p>
                <a href="/api/sessions/logout">Logout</a>
            </nav>
        </div>
    </div>
    <section class="presentacion">
        <div class="conteiner">
            <h1>ESTUFAS SAN JUAN</h1>
            <p>Inovacion en productos para calefaccionar el hogar. Nueva calidad de chapas para el uso de estas
                estufas. Inovacion en productos para calefaccionar el hogar. Nueva calidad de chapas para el uso de
                estas estufas. Inovacion en productos para calefaccionar el hogar. Nueva calidad de chapas para el
                uso de estas estufas. Inovacion en productos para calefaccionar el hogar. Nueva calidad de chapas
                para el uso de estas estufas. Inovacion en productos para calefaccionar el hogar. Nueva calidad de
                chapas para el uso de estas estufas.</p>
        </div>
    </section>
    <!-- Productos -->
    <section class="productos">
        <div class="conteiner">
            {{#if existenciaDeStock}}
            <div class="row">
                {{#each products.payload}}
                <div class="col">
                    <div class="contexto__producto">
                        <img class="imagen__producto" src="img/" +{{this.thumbnail}}
                            alt={{this.thumbnail.imageDescription}}>
                        <h2 class="product__title">{{this.title}}</h2>
                        <p class="product__price">
                            Precio: {{this.price}}
                        </p>
                        <p class="product__description">
                            Descripción: {{this.description}}
                        </p>
                        {{#if this.status}}
                        <p>Disponible</p>
                        <form class="addToCartForm" id="{{this._id}}" data-owner="{{this.owner}}">
                            <label>Cantidad:
                                <input type="text" name="quantity" class="quantity" />
                            </label>
                            <input type="submit" value="Agregar al carrito" />
                        </form>
                        {{else}}
                        <p>No disponible</p>
                        {{/if}}
                        <button class="btn btn-warning">
                            Mas información
                        </button>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <h3>No hay stock </h3>
            {{/if}}
        </div>
    </section>
    <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e0c9a6" fill-opacity="1"
            d="M0,32L40,42.7C80,53,160,75,240,80C320,85,400,75,480,96C560,117,640,171,720,197.3C800,224,880,224,960,213.3C1040,203,1120,181,1200,144C1280,107,1360,53,1400,26.7L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
</main>